
.olControlLayerSwitcher {
  z-index: 1500;
  left: 100px;
  top: 500px;
}

#options {
  margin-top: 60px;
}

#layerswitcher {
	height: 200px;
        width: 400px;
}
#layerswitcher2 {
        left: 400px;
	width: 400px;
        height: 200px; 
}
/*
#map div:first-child div:first-child {
    top: 100px !important;
}
*/