
.olControlLayerSwitcher {
  
  z-index: 1500;
  left: 100px;
  top: 500px;
  
}

#options {
  margin-top: 60px;
}

#layerswitcher {
        position: absolute;
	
        width: 640px;
        left: 0px;
        
                
}
#layerswitcher2 {
        left: 500px;
	width: 400px;
        height: 200px; 
}
/*
#map div:first-child div:first-child {
    top: 100px !important;
}
*/