<plugin>
	<nom>Creación del visualizador de GeoBolivia</nom>
	<auteur>Ariel Perez, Sylvain Lesage</auteur>
	<licence>GNU/GLP</licence>
	<version>0.1.0</version>
	<description>
	Formulario de generación del código HTML (iframe) a integrar en páginas web
	para insertar el visualizador liviano (con OpenLayers) de GeoBolivia
	</description>
	<etat>dev</etat>
	<prefix>visualizador</prefix>
</plugin>
