html {
}
body {
    margin: 0;
    padding: 0;
}
#container {
    float: left;
    height: 100%;
    width: 100%;
    min-height: 600px;
    min-width: 600px;
    background-color: #FFFFCC
}
#map {
    height: 100%;
    background-color: #99CCFF
}
#legend {
    float: right;
    height: 100%;
    overflow: auto;
    background-color: white;
    border-left: 1px solid black;
}
#legend .labelSpan {
    font-size: 16px;
    vertical-align: top !important;
}
#legend .labelSpan img {
    vertical-align: text-bottom;
}
#legend .dataLbl, #legend .baseLbl {
    display: none;
}