html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#wrapper1 {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 600px;
    min-width: 600px;
    overflow: hidden;
    background-color: #CCFFFF;
}
#wrapper2 {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}
#wrapper3 {
    float: left;
    height: 100%;
    width: 100%;
    background-color: #FFFFCC;
}
#wrapper4 {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    width: 100%;
}
#tools {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #CCFFCC;
    border-bottom: 1px solid black;
}
#map {
    height: 100%;
    background-color: #99CCFF;
}
#legend {
    float: right;
    height: 100%;
    overflow: auto;
    background-color: white;
    border-left: 1px solid black;
}
#legend .labelSpan {
    font-size: 16px;
    vertical-align: top !important;
}
#legend .labelSpan img {
    vertical-align: text-bottom;
}
#legend .dataLbl, #legend .baseLbl {
    display: none;
}
#metadata {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    background-color: #FFCCFF;
    border-top: 1px solid black;
}
#tools .olButton {
    float: left;
    margin: 0 2px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}
#tools .panItemInactive {
    background-image: url("theme/fatcow/img/transform_move_off.png");
}
#tools .panItemActive {
    background-image: url("theme/fatcow/img/transform_move_on.png");
}
#tools .pathItemInactive {
    background-image: url("theme/fatcow/img/measure_off.png");
}
#tools .pathItemActive {
    background-image: url("theme/fatcow/img/measure_on.png");
}
#tools .polygonItemInactive {
    background-image: url("theme/fatcow/img/measure_crop_off.png");
}
#tools .polygonItemActive {
    background-image: url("theme/fatcow/img/measure_crop_on.png");
}
#tools .histPreviousItemInactive {
    background-image: url("theme/fatcow/img/resultset_previous_off.png");
}
#tools .histPreviousItemActive {
    background-image: url("theme/fatcow/img/resultset_previous_on.png");
}
#tools .histNextItemInactive {
    background-image: url("theme/fatcow/img/resultset_next_off.png");
}
#tools .histNextItemActive {
    background-image: url("theme/fatcow/img/resultset_next_on.png");
}
#tools .infoItemInactive {
    background-image: url("theme/fatcow/img/information_off.png");
}
#tools .infoNextItemActive {
    background-image: url("theme/fatcow/img/information_on.png");
}
