html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#wrapper1 {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 600px;
    min-width: 600px;
    overflow: hidden;
    background-color: #CCFFFF;
}
#wrapper2 {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}
#wrapper3 {
    float: left;
    height: 100%;
    width: 100%;
    background-color: #FFFFCC;
}
#wrapper4 {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    width: 100%;
}
#tools {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #CCFFCC;
    border-bottom: 1px solid black;
}
#map {
    height: 100%;
    background-color: #99CCFF;
}
#legend {
    float: right;
    height: 100%;
    overflow: auto;
    background-color: white;
    border-left: 1px solid black;
}
#legend .labelSpan {
    font-size: 16px;
    vertical-align: top !important;
}
#legend .labelSpan img {
    vertical-align: text-bottom;
}
#legend .dataLbl, #legend .baseLbl {
    display: none;
}
#metadata {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    background-color: #FFCCFF;
    border-top: 1px solid black;
}
