html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: tahoma,arial,helvetica,sans-serif;
    font-size: 14px;
}
#wrapper1 {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 600px;
    min-width: 600px;
    overflow: hidden;
}
#wrapper2 {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}
#wrapper3 {
    float: left;
    height: 100%;
    width: 100%;
}
#wrapper4 {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    width: 100%;
}
#tools {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid black;
}
#map {
    height: 100%;
}
#legend {
    float: right;
    height: 100%;
    overflow: auto;
    border-left: 1px solid black;
}
#legend input {
    vertical-align: top !important;
}
#legend .labelSpan {
    font-size: 12px;
    font-weight: bold;
}
#legend .labelSpan img {
    vertical-align: text-bottom;
}
#legend .dataLbl, #legend .baseLbl {
    display: none;
}
#metadata {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    border-top: 1px solid black;
}
#tools #icons {
    position: absolute;
    bottom: 2px;
    left: 2px;
    height: 24px;
}
#tools #measure {
    position: absolute;
    bottom: 2px;
    right: 2px;
}
#icons .olButton {
    float: left;
    margin: 0 2px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}
#icons .panItemInactive {
    background-image: url("theme/fatcow/img/transform_move_off.png");
}
#icons .panItemActive {
    background-image: url("theme/fatcow/img/transform_move_on.png");
}
#icons .pathItemInactive {
    background-image: url("theme/fatcow/img/measure_off.png");
}
#icons .pathItemActive {
    background-image: url("theme/fatcow/img/measure_on.png");
}
#icons .polygonItemInactive {
    background-image: url("theme/fatcow/img/measure_crop_off.png");
}
#icons .polygonItemActive {
    background-image: url("theme/fatcow/img/measure_crop_on.png");
}
#icons .histPreviousItemInactive {
    background-image: url("theme/fatcow/img/resultset_previous_off.png");
}
#icons .histPreviousItemActive {
    background-image: url("theme/fatcow/img/resultset_previous_on.png");
}
#icons .histNextItemInactive {
    background-image: url("theme/fatcow/img/resultset_next_off.png");
}
#icons .histNextItemActive {
    background-image: url("theme/fatcow/img/resultset_next_on.png");
}
#icons .infoItemInactive {
    background-image: url("theme/fatcow/img/information_off.png");
}
#icons .infoNextItemActive {
    background-image: url("theme/fatcow/img/information_on.png");
}
#ajaxloader {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    height: 24px;
    width: 300px;
    margin-left: -150px; /* -1 * div width / 2 */
    margin-top: -12px;  /* -1 * div height / 2 */
    text-align: center;
}
#ajaxloader img {
    vertical-align: middle;
}