html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: tahoma,arial,helvetica,sans-serif;
    font-size: 14px;
    color: #333;
}
#wrapper1 {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 600px;
    min-width: 600px;
    overflow: hidden;
}
#wrapper2 {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}
#wrapper3 {
    float: left;
    height: 100%;
    width: 100%;
}
#wrapper4 {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    width: 100%;
}
#tools {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #666;
}
#map {
    height: 100%;
}
#attribution {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
    z-index: 1100;
    font-size: smaller;
}
#attribution a {
    text-decoration: none;
    color: #777;
}
#legend {
    float: right;
    height: 100%;
    overflow: auto;
    border-left: 1px solid #666;
}
#legend input {
    vertical-align: top !important;
}
#legend .labelSpan {
    font-size: 12px;
    font-weight: bold;
}
#legend .labelSpan img {
    vertical-align: text-bottom;
}
#legend .dataLbl, #legend .baseLbl {
    display: none;
}
#metadata {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    padding-top: 8px;
    border-top: 2px solid #666;
    background: url("/img/noise.gif") repeat scroll -70% 0 #F0F0F0;
    box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}
ul#metadata-ul {
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style: none outside none;
}
ul#metadata-ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    color: #777777;
    line-height: 1.5em;
    min-height: 3em;
}
ul#metadata-ul li span {
    padding: 0 1em;
    border-right: 1px solid #E0E0E0;
}
ul#metadata-ul li span:last-child {
    border-right: none;
}
ul#metadata-ul span a {
    color: #777777;
    text-decoration: none;
}
ul#metadata-ul span a:hover,
ul#metadata-ul span a:active,
ul#metadata-ul span a:focus {
    color: #4083A9;
}
ul#metadata-ul li span.title {
    color: #333;
    font-weight: bold;
    display: block;
    border-right: none;
}
ul#metadata-ul li span.metadata-url {
    margin-left: 2em;
}
ul#metadata-ul li span.attribution {
}
ul#metadata-ul li span.attribution img {
    max-height: 1.5em;
    margin: 0 0.5em;
    vertical-align: baseline;
}
#tools #icons {
    position: absolute;
    bottom: 2px;
    left: 2px;
    height: 24px;
}
#tools #measure {
    position: absolute;
    bottom: 2px;
    right: 2px;
}
#icons .olButton {
    float: left;
    margin: 0 2px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}
#icons .panItemInactive {
    background-image: url("theme/fatcow/img/transform_move_off.png");
}
#icons .panItemActive {
    background-image: url("theme/fatcow/img/transform_move_on.png");
}
#icons .pathItemInactive {
    background-image: url("theme/fatcow/img/measure_off.png");
}
#icons .pathItemActive {
    background-image: url("theme/fatcow/img/measure_on.png");
}
#icons .polygonItemInactive {
    background-image: url("theme/fatcow/img/measure_crop_off.png");
}
#icons .polygonItemActive {
    background-image: url("theme/fatcow/img/measure_crop_on.png");
}
#icons .histPreviousItemInactive {
    background-image: url("theme/fatcow/img/resultset_previous_off.png");
}
#icons .histPreviousItemActive {
    background-image: url("theme/fatcow/img/resultset_previous_on.png");
}
#icons .histNextItemInactive {
    background-image: url("theme/fatcow/img/resultset_next_off.png");
}
#icons .histNextItemActive {
    background-image: url("theme/fatcow/img/resultset_next_on.png");
}
#icons .infoItemInactive {
    background-image: url("theme/fatcow/img/information_off.png");
}
#icons .infoNextItemActive {
    background-image: url("theme/fatcow/img/information_on.png");
}
#ajaxloader {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    height: 24px;
    width: 300px;
    margin-left: -150px; /* -1 * div width / 2 */
    margin-top: -12px;  /* -1 * div height / 2 */
    text-align: center;
}
#ajaxloader img {
    vertical-align: middle;
}